.container-crumbs {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    
   /* content: " "; */
}
.breadcrumb {
    /* background: rgba(0, 0, 0, 0); */
    margin: 0;
    display: flex;
    padding: 8px 15px;
    list-style: none;
    color: #c6c6c6;
    font-size: 14px;
    /* background-color: #f5f5f5; */
}
.breadcrumb a {
    color: #c6c6c6;
    text-decoration: none;
}
.breadcrumb a:hover {
    color: #434455;
    text-decoration: underline;
}
.wrapper-main {
    display: flex;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0px;
    padding-bottom: 30px;
}
.page-header {
    display: flex;
    padding-bottom: 9px;
    margin: 20px 0 20px;
    border-bottom: 1px solid #eee;
}
.icon {
    padding-right: 20px;
    margin-right: 20px;
    border-right: 5px solid #76b703;
}
.field-items {
    padding-right: 15px;
}
.rtejustify {
text-align: justify;
}
.view-content {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 133px 133px 133px 133px 133px;
}
.card-item {
    border: 1px solid #374a59;
    text-align: center;
    padding: 15px 5px;
    font-size: 15px;
    color: #374a59;
    display: block;
    line-height: 1;
    text-decoration: none;
}
.card-item:hover {
    background: var(--accent-color);
    color: #fbfbfb;
    border-color: #76b703;
}
.card-item:hover .gray {
    color: #fbfbfb;
    filter: brightness(0%) invert(100%);
}
.img-responsive {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}

.active {
    background-color: var(--accent-color);
}
@media screen and (max-width: 980px) {
    .col-sm-9{
        font-size: 16px;
    }
}
@media screen and (max-width: 793px) {   
    .view-content {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 430px){   
    .wrapper-main{
        font-size: 11px;
        flex-direction: column;

/* @media screen and (max-width: 787px) {
    .col-sm-9{
        font-size: 14px;
    }
}
@media screen and (max-width: 455px) {
    .col-sm-9{
        font-size: 12px;
    }
    .card-item {
    padding: 10px 10px;
    font-size: 12px;
    }
    .page-header>.icon {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 3px solid var(--accent-color);
}
}
@media screen and (max-width: 360px) {
    .card-item {
    padding: 5px 5px;
    font-size: 11px; */
    }
}